html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #393e46;
}

.container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.dice {
  padding: 20px;
  height: 250px;
  width: 250px;
  text-align: center;
  display: inline-block;
}

h1 {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 100%;
}

.return-btn {
  position: absolute;
  top: 5%;
  left: 5%;
  color: rgb(117, 117, 117);
  font-family: sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}
